[package]
name = "provwasm-test-tube"
version = { workspace = true }
repository = "https://github.com/provenance-io/provwasm-test-tube"
edition = { workspace = true }
license = { workspace = true }
authors = ["Ken Talley <4344285+kwtalley@users.noreply.github.com"]
description = "library for building smart contract integration testing environments for Provenance Blockchain in Rust"
keywords = ["provenance", "blockchain", "smart-contracts", "defi", "finance"]
categories = ["api-bindings", "cryptography::cryptocurrencies", "wasm"]
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

exclude = ["provenance", "test_artifacts"]

[dependencies]
cosmrs = { workspace = true }
cosmwasm-std = { workspace = true }
flate2 = { workspace = true }
provwasm-std = { workspace = true }
prost = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
test-tube-prov = { workspace = true }

[build-dependencies]
bindgen = "0.69.1"

[dev-dependencies]
cw1-whitelist = "2.0.0"
