[package]
name = "test-tube-prov"
version = { workspace = true }
repository = "https://github.com/provenance-io/provwasm-test-tube"
edition = { workspace = true }
license = { workspace = true }
authors = ["Ken Talley <4344285+kwtalley@users.noreply.github.com"]
description = "library for building smart contract integration testing environments for Provenance Blockchain in Rust"
keywords = ["provenance", "blockchain", "smart-contracts", "defi", "finance"]
categories = ["api-bindings", "cryptography::cryptocurrencies", "wasm"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
wasm-sudo = []

[dependencies]
base64 = { workspace = true }
cosmrs = { workspace = true }
cosmwasm-std = { workspace = true }
ed25519-zebra = { workspace = true }
prost = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true }
